html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #D5DDC8 !important;
}


#logo {
    text-align: center;
    padding-top: 5%;
}

#content {
    padding: 2% 5%;
    background-color: #668330;
}

.shop-header {
    text-decoration: underline;
    font-size: 2rem;
    color: #D5DDC8;
    transition: all 0.8s ease-in-out;
}

.product {
    box-shadow: 2px 2px 10px #D5DDC8;
    border: 2px solid #C9D408;
    padding: 5%;
    height: 100%;
}
 
.card-img-top {
    width: 50%;
}

.card-title {
    padding-top: 15px;
    font-size: 1.5em;
    font-weight: bolder;
}

.card-text {
    height: 50%;
    text-align: left;
    font-size: 14px;
}

.price {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
}

.product-image {
    height: 50%;
}

footer {
    padding-top: 10px;
    font-size: 12px;
    background-color: #D5DDC8;
    color: #668330;
}

.btn-success {
    background-color: #668330;
    border-color: #668330;
}

.btn-success:hover {
    background-color: #B2C39B;
    border-color: #B2C39B;
}

.btn-outline-success {
    border-color: #668330;
    color: #668330;
}

.btn-outline-success:hover {
    background-color: #668330;
    border-color: #668330;
}

.about {
    color: #FFF;
}


.btn-primary {
    background-color: #B2C39B;
    border-color: #B2C39B;
}

.btn-primary:hover {
    background-color: #D5DDC8;
    border-color: #D5DDC8;
}

.contact-icons {
    padding-top: 25px;
    color: #B2C39B;
}

.contact-icons a {
    color: #B2C39B;
    text-decoration: none;
}

.contact-icons a:hover {
    color: #B2C39B;
    font-weight: bold;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
/* #C9D408 gold
#668330 dark green
white #FBFBFB
dark sea #B2C39B
#D5DDC8 light grey

*/

